.position{
    background: #9c88ff;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}
.item{
    flex-basis: 50px;
    height: 50px;
    background: #f6e58d;
    margin-right: 1%;
    text-align: center;
    padding-top: 5px;
}
.item:nth-child(5){
    order: 1;
}
.item:nth-child(4){
    order: 2;
    flex-grow: 2;
}
.item:nth-child(3){
    order: 3;
}
.item:nth-child(2){
    order: 4;
    flex-grow: 2;
}
    